.nav-bar{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	height: auto;
	width: 100vw;
	background: #000;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	position: sticky;
	z-index: 50;
}
			
.nav-col{
	display: flex;
	height: auto;
	width: 100vw;
	flex-direction: row;
	border: none;
	outline: none;
	margin:0;
	padding: 0;
	z-index: 3;
	visibility: hidden;
	position: relative;
}
			
.nav-column{
	display: block;
	height: 30px;
	width: 30px;
	border: 2px solid #000;
	outline: none;
	border-radius: 50%;
	margin: 10px;
	background: #fff;
	font-size: 24px;
	padding: 5px;
	color: #000;
	text-align: center;
	cursor: pointer;
	transition: 0.2s ease;
}

.nav-column #icon, #bars{
	transform: translateY(10%);
}

.icon-link{
	text-decoration: none;
	color: #000;
}
			
.nav-column:hover{
	transform: scale(1.1);
}
			
.nav-drop{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: auto;
	width: auto;
	background: #000;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	visibility: hidden;
	position: absolute;
	z-index: 50;
}
			
.nav-link, .nav-drop-btn{
	display: block;
	font-family: "Verdana", sans-serif;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	padding: 15px 10px;
	height: 100%;
	cursor: pointer;
	background: none;
	outline: none;
	border: none;
	position: relative;
	z-index: 50;
}
			
.nav-link:hover, .nav-drop-btn:hover{
	background-color: #666;
	cursor: pointer;
}
			
.nav-link:active, .nav-drop-btn:active{
	background-color: #00f;
	cursor: pointer;
}
			
.dark-mode{
	background: #222;
	color: #fff;
}
		
.nav-menu{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: flex-start;
	height: 90vh;
	width: auto;
	overflow-X: hidden;
	overflow-Y: auto;
	background: #000;
	z-index: 5;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	visibility: hidden;
	position: absolute;
}
			
.nav-menu .search{
	font-family: "Courier New", monospace;
	font-size: 16px;
	background: none;
	outline: none;
	border: none;
	padding: 5px;
	margin: 5px;
}
			
.nav-menu .search:focus{
	color: #6ff;
}
				
.nav-menu .nav-menu-list{
	list-style-type: none;
	padding-left: 5px;
	font-family: "Verdana", sans-serif;
	font-size: 16px;
	color: #fff;
}
			
#caret{
	padding-left: 10px;
}
			
@media (max-width:500px){
	.nav-bar{
		display: none;
	}
	.nav-col{
		visibility: visible;
	}
}
@media (min-width:501px){
	.nav-bar{
		visibility: visible;
	}
	.nav-col{
		display: none;
	}
}